[package]
name = "auracle"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
no-entrypoint = []
default = []

[dependencies]
anchor-lang = "0.30.1"
anchor-spl = "0.30.1"

